[Unit]
Description=A Telegram Bot for query expresses
After=network.target network-online.target nss-lookup.target
[Service]
Type=simple
ExecStart=/usr/bin/python /path/to/expressbot/main.py
[Install]
WantedBy=multi-user.target